<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>day la trang list</h3>
<ul>
    <th:block th:each="e : ${list}">
        <li th:text="${e}"></li>
        <li th:text="${e.rnk} +':rank' "></li>
        <li th:text="${e.rows} +':rows' "></li>
        <li th:text="${e.page}+': page'">/li>
        <li th:text="${e.records}+':records'"></li>
        <li th:text="${e.total}+ ': total'"></li>
    </th:block>
</ul>

</body>
</html>